.productsImg {
    width: 100%;
    margin-top: 10px;
}

.productsImg p {
    font-size: 12px;
}

.productsImg h5 {
    text-align: right;
    font-size: 14px;
    color: #8f8f8f;
    font-weight: bold;
}

.divImg {
    width: 150px;
    height: 150px;
    border: 1px solid #bbbbbb;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.imageContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 16px;
}

.imageContainer img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.firstImg,
.secoundImg,
.thirdImg,
.fourthImg {
    text-align: center;
    margin: 10px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageContainer button {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #ffffff;
    color: red;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0px;
    border: none;
    opacity: 0.8;
    font-family: iranyekan;
    cursor: pointer;

}

.imgBox {
    margin: 10px auto;
}
