.container{
    display: grid!important;
    grid-template-columns: 1fr 1fr!important;
    column-gap: 25px;
}
.divImg{
    width: 150px;
    height: 150px;
    border: 1px solid #bbbbbb;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.divImg p {
    font-size: 12px!important;
}
.imageContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 16px;
}
.imageContainer img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.firstImg , .secoundImg , .thirdImg , .fourthImg{
    text-align: center;
    margin: 10px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageContainer button{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #ffffff;
    color: red;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0px;
    border: none;
    opacity: 0.8;
    font-family: iranyekan;
    cursor: pointer;

}
.imgBox{
    margin: 10px auto;
}
@media only screen and (max-width: 992px) {
    .container{
        display: block!important;
    }
    .imageContainer{
        flex-direction: column;
    }
}